.. |rsp| replace:: `Rubin Science Platform <{{ env.squareone_url }}>`__
{% if env.is_primary %}
.. |rsp-at| replace:: `Rubin Science Platform <{{ env.squareone_url }}>`__
{% else %}
.. |rsp-at| replace:: `Rubin Science Platform at the {{ env.title }} <{{ env.squareone_url }}>`__
{% endif %}
.. |rsp-env| replace:: {{ env.title_full }}
.. |rsp-env-link| replace:: `{{ env.title_full }} <{{ env.squareone_url }}>`__
{% if env.api_url %}
.. |rsp-api-url| replace:: ``{{ env.api_url }}``
{% endif %}
{% if env.nb_url %}
.. |log-in| replace:: `Log into the Notebook Aspect <{{ env.nb_url }}>`__
.. |open-nb-aspect| replace:: `Open the Notebook Aspect <{{ env.nb_url }}>`__
{% endif %}
.. |rsp-url| replace:: `{{env.squareone_url}} <{{env.squareone_url}}>`__
{% if env.nb_url %}
.. |nb-url| replace:: `{{env.nb_url}} <{{env.nb_url}}>`__
{% endif %}
{% if env.api_tap_url %}
.. |rsp-tap-url| replace:: `{{env.api_tap_url}} <{{env.api_tap_url}}>`__
.. |rsp-tap-url-code| replace:: ``{{env.api_tap_url}}``
{% endif%}

.. _`Homepage`: {{env.squareone_url}}

.. _`DP0.2 Guide`: https://dp0-2.lsst.io/
.. _JupyterLab: https://jupyterlab.readthedocs.io/en/latest/
.. _`LSST Science Pipelines documentation`:
.. _`LSST Science Pipelines`: https://pipelines.lsst.io
.. _JupyterLab terminal:
.. _terminal: https://jupyterlab.readthedocs.io/en/latest/user/terminal.html
.. _`file browser`: https://jupyterlab.readthedocs.io/en/latest/user/files.html
